

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("https://th.bing.com/th/id/R.e0acee424016261af2ecc26f4ef0c2f8?rik=MjSUV%2bP53TIfMA&riu=http%3a%2f%2fwww.sem-on.net%2fwp-content%2fuploads%2f2020%2f01%2fba4-1024x576.jpg&ehk=M59Bz9qyazmxQfHr4L7tyCnLmCYPAC2qmgjzfF06Auk%3d&risl=&pid=ImgRaw&r=0");
    background-size:cover;
    text-align:center;
    font-size: 50px;
    color:red;
}
h1{
    
    color: black;
    text-align: center;
    font-size:60px;
    
}
#msg-el {
    font-style: italic;
}
button{
    font-size: 40px;
    color:black;
    background-color: red;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top:2px;
}